<div class="center jumbotron">
  <h1>Walk Family App</h1>
  <h2>  Welcome to the Walk family microposting and picture sharing application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>